<div class="cardFavorite">
    <div class="cardHeaderFavorite">
        <img class="icon" src="assets/icons/favourites.png" alt="Search Icon" />
        <h1>
            {{FavoriteComicsListTittle}}
        </h1>

    </div>
    <div class='cardBodyFavorite'>
        <div class="container" *ngIf='favoriteComics.length'>
            <div *ngFor='let favoriteComic of favoriteComics'>
                <div class='contentIcon'>
                    <img class="icon" src="assets/icons/btn-delete.png" (click)='deleteToFavorites(favoriteComic.id)' />
                </div>
                <img class="imagen" [src]='favoriteComic.thumbnail.path+"."+favoriteComic.thumbnail.extension'
                    [title]='favoriteComic.title' />
                <h4>{{favoriteComic.title | uppercase}}</h4>
            </div>
        </div>
    </div>

</div>